* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    border: 2px solid black;
    width: 500px;
    height: 700px;

}